<!-- cups_path is generated for us. See http://guides.rubyonrails.org/routing.html#path-and-url-helpers -->
<span><%= link_to 'All entries', entries_path%></span>
<h3><%= @entry.name %></h3>
<p><%= @entry.entry%></p>
